body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

p {
    color: rgba(125, 125, 1, 0.58);
    display: inline;
    background-color: yellow;
}

